## Домашнее задание 5. Время и даты в Python

## Задание 1
Печатные газеты использовали свой формат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
* The Moscow Times — Wednesday, October 2, 2002
* The Guardian — Friday, 11.10.13
* Daily News — Thursday, 18 August 1977

In [30]:
from datetime import datetime

In [32]:
newspapers_dates = {
    'The Moscow Times': 'Wednesday, October 2, 2002', 
    'The Guardian': 'Friday, 11.10.13',
    'Daily News': 'Thursday, 18 August 1977'
}

In [34]:
print('The Moscow Times -', newspapers_dates['The Moscow Times'])
datetime_ = datetime.strptime(newspapers_dates['The Moscow Times'], '%A, %B %d, %Y')
print(datetime_, type(datetime_))

The Moscow Times - Wednesday, October 2, 2002
2002-10-02 00:00:00 <class 'datetime.datetime'>

In [36]:
print('The Guardian -', newspapers_dates['The Guardian'])
datetime_ = datetime.strptime(newspapers_dates['The Guardian'], '%A, %d.%m.%y')
print(datetime_, type(datetime_))

The Guardian - Friday, 11.10.13
2013-10-11 00:00:00 <class 'datetime.datetime'>

In [38]:
print('Daily News -', newspapers_dates['Daily News'])
datetime_ = datetime.strptime(newspapers_dates['Daily News'], '%A, %d %B %Y')
print(datetime_, type(datetime_))

Daily News - Thursday, 18 August 1977
1977-08-18 00:00:00 <class 'datetime.datetime'>

## Задание 2
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате yyyy-mm-dd. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [41]:
from datetime import timedelta

In [51]:
def date_range(start_date, end_date):
    date_list = []
    try:
        current_datetime = datetime.strptime(start_date, '%Y-%m-%d')
        datetime.strptime(end_date, '%Y-%m-%d')
    except ValueError:
        return date_list
    while (current_datetime.strftime('%Y-%m-%d') <= end_date):
        date_list.append(current_datetime.strftime('%Y-%m-%d'))
        current_datetime += timedelta(days = 1)
    return date_list

In [53]:
date_range('2022-01-01', '2022-01-03')

['2022-01-01', '2022-01-02', '2022-01-03']

In [55]:
date_range('2022-01-03', '2022-01-01')

[]

In [57]:
date_range('2022-02-30', '2022-02-31')

[]